$colorgreen: #39CDCC;
$colorgrey: #545F7D;
$colorblue:#213F7D;
$colorlightgrey: #E5E5E5;
$colorpink:#DF18FF;
$colorpurple: #5718FF;
$colororange: #F55F44;
$colorred:#FF3366;
$colorbrightred: #E4033B;
$coloryellow: #E9B200
